.idea/.name
.idea/encodings.xml
.idea/facebookWebTest.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
publish/html5.zip
publish/html5/build.xml
publish/html5/game.min.js
publish/html5/index.html
publish/html5/project.json
publish/html5/res/background.png
